language: node_js
node_js:
   - "5.5"
   - "4.3"
   - "0.12"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_script:
   - npm install -g grunt-cli
   - "export DISPLAY=:99.0"
   - "sh -e /etc/init.d/xvfb start"
   - sleep 3 # give xvfb some time to start
   - npm start &
before_install:
   - sudo apt-get install libpcap-dev
