doctype html
html(lang="en")
	head
		title SNMP Sniffer
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.min.css")
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.structure.min.css")
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.theme.min.css")
		link(rel="stylesheet", type="text/css", href="/main.css")
		script(type="text/javascript", src="/jquery/jquery-1.11.1.min.js")
		script(type="text/javascript", src="/jquery/jquery-ui.min.js")
		script(type="text/javascript", src="/underscore-min.js")
		block head
	body
		#heading
			block heading
		#content
			block content