doctype html
html(lang="en")
	head
		title SNMP Sniffer
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.min.css")
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.structure.min.css")
		link(rel="stylesheet", type="text/css", href="/jquery/jquery-ui.theme.min.css")
		link(rel="stylesheet", type="text/css", href="/main.css")
		block head
	body(style="width:1100px")
		#heading
			block heading
		#content
			block content