body {
	font-size: 14px;
}
input[type='file'] {
  opacity:0;
  width:0;   
}
input[type='button'] {
	font-weight: bold;
}
.top {
	height: 500px;
}
.authform {
	width:350px;
	text-align:right;
	border:1px solid #e0e0e0;
}
.formfield {
	margin:5px 40px 5px 20px;
}
.paramlabel {
	vertical-align:top;
	display:inline-block;
	width:230px;
	text-align:right;
}
.paramfield {
	/* border:1px solid #999999; */
	display:inline-block;
	margin: 0 10px 5px 20px;
	vertical-align: top;
}
.paramfield ul {
	font-size:smaller;
	list-style-type: none;
	margin: 0 0 1px 0;
	padding: 0 5px 0 5px;
	text-align:left;
	overflow: auto;
	border:1px solid #999999;
}
.paramfield ul li {
	padding: 0 5px 0 5px;
	white-space: nowrap; 
}
.paramfield img {
	border:1px solid #999999;
}
.paramfield ul li input , .paramfield ul li img {
	margin: 0 0 0 10px;
}
.paramfield ul li .action {
	display: inline-block;
	border:1px solid #999999;
	margin: 0 5px 0 5px;
}
.dialoglabel {
	width:100px;
	display:inline-block;
	text-align:right;
}
#dialog_form {
	margin-top: 5px;
}
#dialog_form input {
	display:inline-block;
	margin: 0 5px 0 5px;
}
ul.output {
	width: 500px;
	height: 200px;
	border: 1px solid #999999;
	-webkit-appearance: textarea;
	font-family: monospace;
	font-size:13px;
	margin: 0 0 1px 0;
	padding: 5px 0 5px 0;
	list-style-type: none;
	white-space: nowrap; 
	overflow: auto;
}
ul.output li {
	padding: 0 5px 0 5px;
	white-space: nowrap; 
}

.ui-tooltip {
	font-size: 12px;
}
.ui-dialog {
	font-size: smaller;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  Body {
    font-size: 16px;      
    }
}

