<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000">
    <title>SNMPSniffer</title>
    <options customize="allow" allow-external-scripts="yes" rootVolumeOnly="true"/>
<installation-check script="pm_install_check();"/>
    <script>function check() {
		return system.run('checknode.sh') >= 10;
	}
function pm_install_check() {
  if(!(check() == true)) {
    my.result.title = 'Node 10 is not installed';
    my.result.message = 'The application requires Node.js 10 or above. Please, install it.';
    my.result.type = 'Fatal';
    return false;
  }
  return true;
}
</script>
<license file='LICENSE.txt'/>
<choices-outline>
<line choice='app'/>
<line choice='command'/>
<line choice='lib'/>
<line choice='postflight'/>
<line choice='uninstall'/>
</choices-outline>
<choice id='app' title='SNMPSniffer'>
        <pkg-ref id='com.calaverastech.snmpsniffer.app.pkg'/>
    </choice>
<choice id='command' title='command'>
        <pkg-ref id='com.calaverastech.snmpsniffer.command.pkg'/>
    </choice>
<choice id='lib' title='snmpsniffer'>
        <pkg-ref id='com.calaverastech.snmpsniffer.lib.pkg'/>
    </choice>'
<choice id='postflight' title='postflight'>
        <pkg-ref id='com.calaverastech.snmpsniffer.postflight.pkg'/>
    </choice>
<choice id='uninstall' title='uninstall'>
        <pkg-ref id='com.calaverastech.snmpsniffer.uninstall.pkg'/>
    </choice>
<pkg-ref id='com.calaverastech.snmpsniffer.app.pkg' version='v' auth='Root'>file:./Contents/Packages/snmpsnifferapp.pkg</pkg-ref>
<pkg-ref id='com.calaverastech.snmpsniffer.command.pkg' version='v' auth='Root'>file:./Contents/Packages/snmpsniffercommand.pkg</pkg-ref>
<pkg-ref id='com.calaverastech.snmpsniffer.lib.pkg' version='v' auth='Root'>file:./Contents/Packages/snmpsnifferlib.pkg</pkg-ref>
<pkg-ref id='com.calaverastech.snmpsniffer.postflight.pkg' version='v' auth='Root'>file:./Contents/Packages/snmpsnifferpostflight.pkg</pkg-ref>
<pkg-ref id='com.calaverastech.snmpsniffer.uninstall.pkg' version='v' auth='Root'>file:./Contents/Packages/snmpsnifferuninstall.pkg</pkg-ref>
</installer-script>
